{% extends "layout.html" %}
{% block body %}
<body>

{% if status == 'okay' %}
  <img id="fullscreen-bg-image" src="{{ url_for('static', filename='img/bg.jpg') }}" alt=""/>
{% else %}
  <img id="fullscreen-bg-image" src="{{ url_for('static', filename='img/bg_notready.jpg') }}" alt=""/>
{% endif %}

<div class="overlay-download">
  <div class="overlay">
{% if status == 'okay' %}
  <i class="fa fa-check-circle fa-2x"></i>
  <p>Your file is ready, <a href="{{ url_for('matahn') }}tasks/download/{{ taskid }}">download it</a> now.
  <br>
  (we will keep it only for 24h)</p>
{% elif status == 'deleted' %}
  <i class="fa fa-exclamation-triangle fa-2x"></i>
  <p>File has been deleted (>24h).<br>Make a new <a href="{{ url_for('matahn') }}">request</a>.</p>
{% else %}
  <i class="fa fa-exclamation-triangle fa-2x"></i>
  <p>Task is still in process.<br>You'll received an email when the file is ready.</p>
{% endif %}
  </div>
</div>

</body>
{% endblock %}