{% extends "layout.html" %}
{% block body %}
<body>

{% if success %}
  <img id="fullscreen-bg-image" src="{{ url_for('static', filename='img/bg.jpg') }}" alt=""/>
{% else %}
  <img id="fullscreen-bg-image" src="{{ url_for('static', filename='img/bg_notready.jpg') }}" alt=""/>
{% endif %}


<div class="overlay-download">
  <div class="overlay">
{% if success %}
  <p>Your file is ready, <a href="{{ url_for('matahn') }}tasks/download/{{ taskid }}">download it</a>.</p>
{% else %}
  <p>Task still in process, be patient.</p>
{% endif %}
  </div>
</div>

</body>
{% endblock %}