{% extends "layout.html" %}
{% block body %}
<body>

    <div id="map-canvas-wrapper">
    <div id="map-canvas"></div>
    </div>

    <div id="map-attribution"> </div>

    <a href="#" id="olZoomInLink" class="square-button button-right zoomin-button">
        <span><i class="fa fa-plus"></i></span>
    </a>
    <a href="#" id="olZoomOutLink" class="square-button button-right zoomout-button">
        <span><i class="fa fa-minus"></i></span>
    </a>

    <a href="#" id="baselayer-button" class="square-button button-right baselayer-button">
        <span><i class="fa fa-retweet"></i></span>
    </a>

    <a href="#" id="menuLink" class="square-button menu-link">
        <span><i class="fa fa-chevron-right"></i></span>
    </a>

    <div class="overlay-wrapper scroll">
            {% if task is defined %}
            <div class="overlay scroll">
                {% if status == 'okay' %}
                    <h2 class='top'><i class="fa fa-check-circle"></i> Ready to download</h2>
                    <p>Your file is kept for 24 hours. But, you can always make a <a href="{{ url_for('matahn') }}">new request</a>.</p>
                    <a class="pure-button button-download" href="{{download_url}}">
                        <i class="fa fa-download"></i>
                        Download
                    </a>
                {% elif status == 'deleted' %}
                    <h2 class='top'><i class="fa fa-exclamation-triangle"></i> File not found</h2>
                    <p>Your file has probably been deleted automatically after 24 hours. You can make a new <a href="{{ url_for('matahn') }}">request</a>.</p>
                {% elif status == 'failure' %}
                    <h2 class='top'><i class="fa fa-bug"></i> Bug!</h2>
                    <p>An unexpected error occured. It seems that we are currently unable to complete your request. Our sincere apologies.</p>
                {% else %}
                    <h2 class='top'><i class="fa fa-cog fa-spin"></i> Processing...</h2>
                    <p>We succesfully received you request and it is being processed now. You'll receive an email when your file is ready.</p>
                    <p>You can safely leave this window, maybe to make a <a href="{{ url_for('matahn') }}">new request</a>.</p>
                {% endif %}
                    <h2><i class="fa fa-info-circle"></i> Task summary</h2>
                    <form class="pure-form pure-form-stacked">
                        Geometry of selection (WKT)
                        <input type="text" value="{{task['wkt']}}" readonly>
                        
                        AHN2 class
                        {% if task['ahn2_class'] == 'g' %}
                        <input type="text" value="gefilterd" readonly>
                        {% elif task['ahn2_class'] == 'u' %}
                        <input type="text" value="uitgefilterd" readonly>
                        {% else %}
                        <input type="text" value="gefilterd + uitgefilterd" readonly>
                        {% endif %}
                        
                        {% if status == 'okay' %}
                        Number of points
                        <input type="text" value="{{task['log_actual_point_count']}}" readonly>
                        {% endif %}
                    </form>
            </div>
            {% else %}

            <div class="overlay scroll" id="errorBox" style="display:none">
                <p><i class="fa fa-exclamation-triangle"></i> Form can not be submitted</p>
                <p class='wronginput'></p>
            </div>
            <div class="overlay scroll">
                <form id="submit-task" class="pure-form pure-form-stacked">
                    
                    <button type="button" class="pure-button pure-button-primary" id="draw-rectangle"><i class="fa fa-crop"></i> Draw selection</button>
                    <p class='ptcountest'></p>

                    <fieldset>
                        <label for="classificationSelector">Classification</label>
                        <select name="classificationSelector">
                            <option value="g">ground (gefilterd)</option>
                            <option value="u">man-made (uitgefilterd)</option>
                            <option value="ug">both</option>
                        </select>

                        <label for="simplificationSelector" disabled>Thinning (coming soon)</label>
                        <select name="simplificationSelector" disabled>
                            <option value="t">nth point</option>
                            <option value="mat">MAT-based</option>
                        </select>
                        
                        <label for="email">Email</label>
                        <input name="useremail" type="email" autocomplete="on" placeholder="Your Email">
                        <button type="submit" id="submit-button" class="pure-button">Submit</button>
                    </fieldset>
                </form>
            </div>
            <div class="overlay scroll faq">
                <h2 class='top'>FAQ</h2>
                <div id='intro' class="scroll">
                    <h3>What is AHN2?</h3>
                    <a href='http://www.ahn.nl'>AHN2</a> is an  airborne LiDAR point cloud of the Netherlands.
                    <h3>Why this tool?</h3>
                    While AHN2 is <a href="http://www.ahn.nl/nieuws/2014/03/gratis-gebruik-van-actuele-digitale-hoogtekaart-van-nederland.html">open data</a>, the current official download procedure is rather involved and non-trivial. With MATAHN we offer a tool that dramatically simplifies that download experience, which is great for people who often need this data (such as ourselves, but we figured it might be usefull for others too). For more information have a look at this <a href="http://3dsm.bk.tudelft.nl/pdfs/matahn_3dbgt-dag_2014.pdf">presentation</a>.
                    <h3>What are the blue regions on the map?</h3>
                    These indicate what parts of AHN2 we currently offer.
                    <h3>How many points can I download?</h3>
                    Up to ~{{max_point_query_size}} points per request are allowed.
                    <h3>What is the output format?</h3>
                    We offer only raw points in the <a href='http://www.laszip.org'>LAZ format</a>. We don't offer any grids.
                    <h3>How do I visualize these point clouds?</h3>
                    A handy tool for quick visualization is <a href="http://plas.io/">plas.io</a>.
                    <h3>Is this an open source project?</h3>
                    Yes, see our code on <a href='http://github.com/tudelft-gist/matahn'>github</a>.
                    <h3>I found a bug. How can I tell you?</h3>
                    Please open an issue <a href='https://github.com/tudelft-gist/matahn/issues'>here</a>.
                </div>
            </div>
            {% endif %}
        

    </div>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      {% if task is defined %}
      $TASK_ID = '{{task['id']}}';
      {% else %}
      $TASK_ID = undefined;
      {% endif %}
    </script>
    <script src="{{ url_for('static', filename='js/third_party/OpenLayers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/third_party/proj4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/third_party/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
{% endblock %}