<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="A seamless download service for AHN2 (the Dutch national LiDAR dataset)">
{% if refresh %}
   <meta  http-equiv="refresh"  content="30">
{% endif %}
    <title>MATAHN: a seamless AHN2 download service</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.4.2/base-min.css&pure/0.4.2/buttons-min.css&pure/0.4.2/forms-nr-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

{% block body %} {% endblock %}

</html>