<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="A seamless download service for AHN">
{% if refresh %}
   <meta  http-equiv="refresh"  content="30">
{% endif %}
    <title>MATAHN: a seamless AHN download service</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

{% block body %} {% endblock %}

</html>
