{% extends "matahn/layout.html" %}
{% block body %}
<body>

    <div id="map-canvas">
    </div>
    <a href="#menu" id="olZoomInLink" class="square-button button-right zoomin-button">
        <span><i class="fa fa-plus"></i></span>
    </a>
    <a href="#menu" id="olZoomOutLink" class="square-button button-right zoomout-button">
        <span><i class="fa fa-minus"></i></span>
    </a>

    <a href="#menu" id="baselayer-button" class="square-button button-right baselayer-button">
        <span><i class="fa fa-retweet"></i></span>
    </a>
<!--     <a href="#menu" id="overlay-button" class="square-button button-right overlay-button">
        <span></span>
    </a> -->

    <a href="#menu" id="menuLink" class="square-button menu-link">
        <span><i class="fa fa-chevron-right"></i></span>
    </a>

    <div class="overlay-wrapper">
        <div class="overlay">

            <form class="pure-form pure-form-stacked">
                
                <button class="pure-button pure-button-primary" id="draw-rectangle"><i class="fa fa-crop"></i> Draw selection</button>
                <p class='ptcountest'></p>

                <fieldset>
                    <legend>Make your request</legend>

                    <label for="filterTypeSelector">Filter type</label>
                    <select name="filterTypeSelector">
                        <option value="g">Gefilterd</option>
                        <option value="u">Uitgefilterd</option>
                        <option value="ug">Both</option>
                    </select>
                    <!-- <label for="email">Your Email</label> -->
                    <input name="useremail" type=email placeholder="Your Email">
                    <button type="button" id="submit-button" class="pure-button">Submit</button>
                    <!-- <p><a href=# id="calculate">submit</a></p> -->

                </fieldset>
            </form>

        </div>

    </div>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="http://tiles.geocoders.nl/api/ol/2.12/OpenLayers.js"></script>
    <script src="http://tiles.geocoders.nl/lib/proj4js/proj4js-compressed.js"></script>
    <script src="{{ url_for('static', filename='js/third_party/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
{% endblock %}