html, body {
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.header-wrapper {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 9999;
    pointer-events:none;
}

.overlay-wrapper {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #eee;
}


.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 300px; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 9999;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

.overlay-wrapper, .menu-link {
    transition: left 0.2s ease;
}

body.close-menu .overlay-wrapper {
    left: -300px;
}

body.close-menu .menu-link {
    left: 0px;
}

.up {
    bottom: 0px;
}

.header {
    pointer-events: auto;
}

.overlay {
    margin: 1em;
}
.overlay fieldset .pure-button {
    font-size: 120%;
}

.header-wrapper {
    top: 0; /*-58px;*/
    transition: top 0.1s ease;
}

/*.header-wrapper:hover {
    top: 0;
}*/

.header {
    /*padding: 20px 15px 10px 15px;*/
    /*height: 100px;*/
    background-color: #111;
    opacity: 0.8;
    color: #fff;
    text-align: right;
}

.logo {
    float: left;
    font-size: 200%;
    margin: .3em 0;
}

.zoom-button {
    font-size: 110%;
    font-family: monospace;
    font-weight: bolder;
    /*margin-bottom: .5em;*/
    /*display: block;*/
}

.header-block {
    float: right;
    /*margin: 20px*/
}
.header .pure-form fieldset {
    padding: 0;
}

#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("http://www.webmapper.net/theme/img/mapbg.png") repeat scroll 0 0 #f9f9f9;
    z-index: 0;
}

#map-canvas div.olControlZoom {
    top: 108px;
    /*left: 8px;*/
}

/*.olHandlerBoxZoomBox {
    border: 3px dashed blue;
    position: absolute;
    background-color: white;
    opacity: 0.20;
    font-size: 1px;
    filter: alpha(opacity=20);
}*/


@media all and (max-width: 739px) {
    .overlay-wrapper {
        /*bottom: -140px;*/
    }
/*    .overlay-wrapper:hover {
        bottom: 0px;
    }*/
    .overlay, .header {
        width: 100%;
    }

    .header label, .overlay .pure-form label, .overlay .pure-form select, .overlay .pure-form input {
        display: none;
    }
    .header-block {
        /*margin: 4px 5px 0px 5px;*/
    }
/*
    .overlay .pure-form input, .overlay .pure-form select, .overlay .pure-form label, .overlay .pure-form button {
        display: block;
        margin: .25em 0;
    }*/

}