html, body {
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.overlay-wrapper {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9998;
    background-color: #eee;
    overflow: scroll
}


.square-button {
    position: fixed;
    display: block; /* show this only on small screens */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 9998;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

.zoomin-button {
    top: 0px;
    right: 0px;
}

.zoomout-button {
    top: 50px;
    right: 0px;
}

.baselayer-button {
    top: 130px;
    right: 0px;
}

.overlay-button {
    top: 180px;
    right: 0px;
}

.menu-link {
    top: 0;
    left: 300px; /* "#menu width" */
    display: none;
    z-index: 9999;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

.overlay-wrapper, .menu-link {
/*    transition: left 0.2s ease;*/
}



.up {
    bottom: 0px;
}

.header {
    pointer-events: auto;
}

.overlay {
    margin: 2em;
}
.overlay fieldset .pure-button {
    font-size: 120%;
}

.logo {
    float: left;
    font-size: 200%;
    margin: .3em 0;
}

.zoom-button {
    font-size: 110%;
    font-family: monospace;
    font-weight: bolder;
    /*margin-bottom: .5em;*/
    /*display: block;*/
}


#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("http://www.webmapper.net/theme/img/mapbg.png") repeat scroll 0 0 #f9f9f9;
    z-index: 0;
}

#map-canvas div.olControlZoom {
    top: 108px;
    /*left: 8px;*/
}

/*.olHandlerBoxZoomBox {
    border: 3px dashed blue;
    position: absolute;
    background-color: white;
    opacity: 0.20;
    font-size: 1px;
    filter: alpha(opacity=20);
}*/


@media all and (max-width: 800px) {
    .overlay-wrapper {
        left: -300px;
    }
    .menu-link {
        left: 0px;
    }

    .menu-link {
        display: block;
    }
    body.open-menu .overlay-wrapper {
        left: 0px;
        width: 100%;
    }

    body.open-menu .menu-link {
        right: 0px;
        left: auto;
    }
}

@media all and (min-width: 420px) and (max-width: 800px){
    body.open-menu .overlay-wrapper {
        left: 0px;
        width:300px;
    }

    body.open-menu .menu-link {
        left: 300px;
    }
}