html, body {
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #333;
}

.overlay-wrapper {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    overflow: scroll;
    box-shadow: 1px 0px 30px #777;
}

.overlay-download-wrapper {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: -75px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9998;
    text-align: center;
    background-color: #fff;
    color: #000;
    opacity:0.7;
    /*overflow: scroll;*/
    box-shadow: 1px 0px 10px #777;
}
.overlay-download {
    margin: 2em;
}

h2.top {
    margin-top: 0;
}

h2 {
    font-size: 1.4em;
    margin: 2em 0 1em 0;
    font-weight: normal;
    color: #000;
}

h3 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0.8em 0 0 0;
    color: #000;
}

.faq {
    font-size: 0.96em;
    background-color: #f5f5f5;
}

#errorBox {
    background-color: #FF1300;
    color: #fff;
    font-weight: 500;
}

.wronginput {
    font-style: italic;
}

.button-download {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
    display: block;
}

#draw-rectangle {
    width: 100%;
}


.square-button {
    position: absolute;
    display: block; /* show this only on small screens */
    z-index: 9998;
    height: auto;
    font-style: normal;
    font-size: 1.4em;
    text-align: center;
    width: 2em;
    padding: 0.3em 0;
}

.button-right {
    background: #000;
    background: rgba(0,0,0,0.7);
    right: 0px;
    color: #fff;
}
.button-right:hover
{
    background: rgba(0,0,0,1);
}

.zoomin-button {
    top: 50px;
}

.zoomout-button {
    top: 0px;
}

.baselayer-button {
    top: 130px;
}

.overlay-button {
    top: 180px;
}

.menu-link {
    top: 0;
    left: 300px; /* "#menu width" */
    background: #fff;
    display: none;
    z-index: 9999;
    color: #000;
}

.up {
    bottom: 0px;
}

.overlay {
    padding: 1.7em 2em 1.7em 2em;
}
.overlay .pure-button {
    font-size: 120%;
    padding: 0.5em 0.7em;
}
.pure-form-stacked input,
.pure-form-stacked select, 
.pure-form-stacked label,
.pure-form-stacked button {
    margin: .7em 0;
    width: 100%;
}

#map-canvas-wrapper {
    height: 100%;
    margin-left: 300px;
}

#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("http://www.webmapper.net/theme/img/mapbg.png") repeat scroll 0 0 #f9f9f9;
    z-index: 0;
}

#map-attribution {
    position: absolute;
    padding: 0.3em;
    right: 0;
    bottom: 0;
    z-index: 9998;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 0.8em;
}

@media all and (max-width: 800px) {
    .overlay-wrapper {
        left: -300px;
    }
    .menu-link {
        left: 0px;
    }

    .menu-link {
        display: block;
    }
    body.open-menu .overlay-wrapper {
        left: 0px;
        width: 100%;
    }

    body.open-menu .menu-link {
        right: 0px;
        left: auto;
    }
}

#fullscreen-bg-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media all and (min-width: 420px) and (max-width: 800px){
    body.open-menu .overlay-wrapper {
        left: 0px;
        width:300px;
    }

    body.open-menu .menu-link {
        left: 300px;
    }
}

@media all and (max-width: 800px) {
    #map-canvas-wrapper {
        height: 100%;
        margin-left: 0px;
    }
}