{% extends "layout.html" %}
{% block body %}
<body>

    <div id="map-canvas">
    </div>
    <a href="#menu" id="olZoomInLink" class="square-button zoomin-button">
        <span></span>
    </a>
    <a href="#menu" id="olZoomOutLink" class="square-button zoomout-button">
        <span></span>
    </a>

    <a href="#menu" id="baselayer-button" class="square-button baselayer-button">
        <span></span>
    </a>
    <a href="#menu" id="overlay-button" class="square-button overlay-button">
        <span></span>
    </a>

    <a href="#menu" id="menuLink" class="square-button menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div class="overlay-wrapper">
        <div class="overlay">
            <a class="pure-button pure-button-primary" style="font-size:120%" onclick="drawRectangle()" href="#">Draw selection</a>
            <p class='ptcountest'></p>

            <form class="pure-form pure-form-stacked">
                <fieldset>

                    <!-- <button class="pure-button pure-button-primary" style="font-size:120%" onclick="drawRectangle()">Draw selection</button> -->
                    <!-- <a class="pure-button pure-button-primary" onclick="drawRectangle()" href="#">Draw selection</a> -->

                    <!-- <div class="pure-control-group">                     -->
                    <label style="margin-left:8px" for="filterTypeSelector">Filter type</label>
                    <select name="filterTypeSelector">
                        <option value="g">Gefilterd</option>
                        <option value="u">Uitgefilterd</option>
                        <option value="ug">Both</option>
                    </select>
                    <!-- </div> -->

                    <!-- <div class="pure-control-group"> -->
                    <!-- <label for="email">Your Email</label> -->
                    <input id="email" type="email" placeholder="Your Email">
                    <!-- </div> -->

                    <!-- <div class="pure-controls"> -->
                    <button name="submit" type="submit" class="pure-button">Submit</button>
                    <!-- </div> -->
                </fieldset>
            </form>

        </div>

    </div>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="http://tiles.geocoders.nl/api/ol/2.12/OpenLayers.js"></script>
    <script src="http://tiles.geocoders.nl/lib/proj4js/proj4js-compressed.js"></script>
    <script src="{{ url_for('static', filename='js/third_party/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
{% endblock %}